/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #260707;
    color: #ffffff;

    /* espaço para que o conteúdo não fique por baixo do footer */
    padding-bottom: 80px;
}

/* NAVBAR */
.navbar {
    background: #5e111f;;
    padding: 12px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo {
    height: 55px;
}

.navbar ul {
    display: flex;
    gap: 25px;
    list-style: none;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.navbar ul li a:hover {
    color: #ff4141;
}

/* BANNER */
.banner {
    background: #260707;
    padding: 100px 20px;
    text-align: center;
    color: white;
}

.banner h1 {
    font-size: 3rem;
}

/* CARDS */
.cards {
    display: flex;
    justify-content: space-around;
    margin: 40px 40px 10px 40px;
    flex-wrap: wrap;
    color: #ffffff;
}

.card {
    background: #5e111f;
    width: 300px;
    padding: 20px;
    text-align: center;
    border: 3px solid #b28f03;
    border-radius: 10px;
    box-shadow: 0 0 10px #0003;
}

.card a {
    text-decoration: none;
    color: #ffffff;
    background: #BF124D;
    padding: 10px 18px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
}

.card a:hover {
    background: #e00000;
}

/* PÁGINAS INTERNAS */
.content {
    display: flex;
    flex-direction: column;
    background: #5e111f;
    margin: 4% 25%;
    padding: 30px 60px;
    border: 3px solid #b28f03;
    border-radius: 10px;
    box-shadow: 0 0 10px #0002;
}

.respiracoes {
    text-align: center;
    margin: 2% 35%;
    font-size: 40px;
    background-color: #5e111f;
    border: 3px solid #b28f03;
    border-radius: 5px;
}

.origem_respiracoes {
    display: flex;
    font-size: 24px;
    margin-bottom: 10px;
}

.respiracao_sol {
    font-size: 20px;
    margin-bottom: 15px;
}
.lista_respiracoes {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.respiracoes_derivadas {
    text-align: center;
    margin: 2% 40%;
    font-size: 30px;
    background-color: #5e111f;
    border: 3px solid #b28f03;
    border-radius: 5px;
}

.description {
    background-color: #5e111f;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 3px solid #b28f03;
    border-radius: 10px;
    color: #ffffff;
    margin: 10% 25%;
    font-size: 24px;
}

.titulo_descricao {
    background-color: #5e111f;
    border: 2px solid #b28f03;
    margin: 15px;
}

.resumo_historia {
    margin: 10px;
}

/* FOOTER FIXO */
footer {
    position: fixed;    /* fica grudado na tela */
    bottom: 0;          /* na parte de baixo */
    left: 0;
    width: 100%;
    background: #111;
    color: white;
    text-align: center;
    padding: 15px;
    box-shadow: 0 -3px 10px #0005;
    z-index: 9999;
}
